@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-dark: #1f2937;
  --text: #f9faf8;
  --text-secondary: #e5e7eb;
  --text-dark: var(--bg-dark);
  --bg-accent: #3882f6;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Utility */

.wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

header {
  background-color: var(--bg-dark);
  color: var(--text-secondary);
  padding-block: 16px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: var(--text);
}

.header-links {
  font-size: 18px;
  color: var(--text-secondary);
  display: flex;
  gap: 24px;
}

/* Hero section */

.hero {
  background-color: var(--bg-dark);
  color: var(--text);
  padding-block: 96px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
}

.hero p {
  font-size: 18px;
  color: var(--text-secondary);
  margin-bottom: 16px;
}

.hero button {
  font-weight: 700;
  padding: 8px 24px;
  color: var(--text);
  border: none;
  border-radius: 8px;
  background-color: var(--bg-accent);
}

.hero-image {
  background-color: var(--text-secondary);
  padding: 64px 96px;
}

.hero-image p {
  color: var(--text);
}

/* Info section */

.info-content {
  padding-block: 64px;
}

.info-content h2 {
  font-size: 36px;
  color: var(--text-dark);
  font-weight: 900;
  text-align: center;
  margin-bottom: 64px;
}

.info-gallery {
  display: flex;
  justify-content: space-around;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 128px;
  font-size: 18x;
  color: var(--text-dark);
}

.info-card-image {
  border: 3px solid var(--bg-accent);
  border-radius: 8px;
  height: 128px;
  width: 128px;
}

/* Testimonial section */

.testimonial {
  background-color: var(--text-secondary);
}

.testimonial-content {
  padding: 96px;
}

.testimonial-content blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: var(--bg-dark);
}

.testimonial-content p {
  font-size: 24px;
  font-weight: 700;
  text-align: end;
}

/* Call to action */

.cta {
  padding: 64px;
}

.cta-content {
  background-color: var(--bg-accent);
  color: var(--text);
  display: flex;
  justify-content: space-around;
  padding: 32px;
  border-radius: 8px;
}

.cta-content h2 {
  font-size: 24px;
}

.cta button {
  font-weight: 700;
  padding: 8px 24px;
  color: var(--text);
  border: 2px solid var(--text);
  border-radius: 8px;
  background-color: var(--bg-accent);
}
